body{
    background-image: url(https://storage.myseldon.com/news-pict-f6/F6B588FA0472641993A5327D0F6BB23F);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    margin: 0;
    font-family: sans-serif;
}

.div-body{
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.div-body .body-image{
    position:fixed;
    top: 0%;
    left: 0%;
    z-index: 0;
    width: 100%;
    height: 100%;
transition: 1.5s;
    /* animation-name:body-image ;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; */

    opacity: 0;
}

.active{

    opacity: 1 !important;
}

/* @keyframes body-image {

    0%{opacity: 0;}

    100%{
        opacity: 1;
    }

    
} */


.div-main{
    background-color: rgba(65, 65, 65, 0.493);
    width: 80%;
    height: 500px;
    /* margin: 5% auto; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(3px);
}

.div-main .search{
    width: 100%;
    margin: 10% 0%;
    display: flex;
    justify-content: center;
    position: relative;
}


.div-main .search input{
    background-color:white;
    color:black;
    outline: none;
    border: none;
    border-radius: 50px;
    width: 50%;
    padding: 2% 2%;
    text-align: center;
}

/* :-internal-autofill-selected{
    background-color: rgba(0, 0, 0, 0.555) !important;
 
} */



.div-main .search input::placeholder {
    color: black; 
}

.div-main .search button{
background-color: transparent;
border: none;
position: absolute;
right: 25%;
top: 35%;
cursor: pointer;

}

/* .div-main .search button .fa-solid, .fas {
    color: white;
} */

.div-main .temperature{
    display: flex;
    justify-content: space-evenly;
   gap: 50px; 
}





.div-main .temperature{
    color: white;
}

.div-main .temperature .div-colum{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

